{% extends 'base/base-processowner.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}" />
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
<div class="card">
    <div class="card-body">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size:14px;">
                <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:mydashboard'%}" style="text-decoration:none;color:#474b4d">Dashboard</i></a></li>
              <li class="breadcrumb-item"><a href="" style="text-decoration:none;color:#474b4d" >...</a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:appdetails-process-owner' comp_id app_id %}" style="text-decoration:none;color:#474b4d" >{{selected_app.APP_NAME}}</a></li>
              <li class="breadcrumb-item active" style="text-decoration: underline;" aria-current="page">Terminations</li>
            </ol>
        </nav>

        <nav class="navbar bg-body-tertiary" data-bs-theme="light" style="margin-top:30px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h6 style="color:#474b4d"><a href="" class="navbar-brand" style="color:white"> <span
                                    class="fas fa-solid fa-regular fa-user"
                                    style="color:#3B71CA;font-size:20px;margin-top:5px;"></span>
                            </a>Terminated Users</h6>
                    </div>
                </div>
                <div class="d-flex" role="search">
                    <input id="app_user_termed_user_search" name="app_user_termed_user_search" class="form-control me-2" type="search"
                        placeholder="Search" aria-label="Search"
                        style="height:35px;font-size:13px;">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="offcanvas"
                        data-bs-target="#app_user_termed_user_filter" aria-expanded="false" style="height:35px;">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </div>
            </div>
        </nav>

        <table id="app_user_terminated_table" name="app_user_terminated_table" class="table table-hover table-sm nowrap"
            style="margin-top:50px;width: 100%;word-wrap:break-word;font-family:sans-serif;margin-top:20px;">
            <thead style="padding-top:12px;text-align:center">
                <tr
                    style="font-size:12px; background-color:whitesmoke;max-width: 150px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                    <th style="text-align:left;">User ID</th>
                    <th style="text-align:left;">Email Address</th>
                    <th style="text-align:left;">Status</th>
                    <th style="text-align:left;">Date Revoked</th>
                    <th style="text-align:left;">Last Login</th>
                </tr>
            </thead>

            <tbody style="font-size:13px">
                {% for user in termed_users %}
                <tr style="vertical-align: middle;">
                    <td style="width:15%;"><i class="far fa-user" style="margin-right:5px;color:lightblue"></i>{{ user.USER_ID }}</td>
                    <td style="width:20%;"><i class="far fa-envelope" style="margin-right:5px;color:lightblue"></i>
                        {{user.EMAIL_ADDRESS }}</td>
                    {% if user.STATUS|lower == 'active' %}
                    <td style="width:15%"><span class="badge bg-success rounded-pill text-bg-success" style="font-size:10px;">
                            ACTIVE</span></td>
                    <td style="width:20%;">-</td>
                    <td style="width:20%;">{{ user.LAST_LOGIN|date:"F d, Y" }}</td>
                    {% else %}
                    <td style="width:15%;"><span class="badge bg-light rounded-pill text-bg-light" style="font-size:10px;">
                            {{user.STATUS }}</span></td>
                    <td style="width:20%;">{{ user.DATE_REVOKED|date:"F d, Y" }}</td>
                    <td style="width:15%;">{{ user.LAST_LOGIN|date:"F d, Y" }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

<!-- THIS IS THE FILTER SECTION FOR DATES TERMINATED -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="app_user_termed_user_filter" name="app_user_termed_user_filter" aria-labelledby="app_user_termed_user_filter" style="margin-top:40px;">
    <div class="offcanvas-header" style="border-bottom:solid;border-color:lightgray">
        <p class="offcanvas-title" id="offcanvasRightLabel"><i class="fa-solid fa-filter" style="margin-right:5px; font-size:14px;"></i>Filter User List</p>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
        <div class="offcanvas-body">
            <div class="input-group mb-3">
                <label style="font-size:13px;">Date Granted:</label>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar" style="color:#3B71CA"></i></span>
                <input type="text" id="datetimerange-input1" name="datetimerange-input1" class="form-control" placeholder="Select date" aria-label="Select date" style="font-size:12px;" aria-describedby="basic-addon1">
            </div>
        </div>
</div>




<!-- THIS ARE THE DEPENDENCIES OF THE VANILLA DATE TIMEPICKER -->
<script src="{% static 'js/moments.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/tables.js' %}"></script>
{% endblock content %}
