{% extends 'base/base-processowner.html' %}
{% load static %}

{% block content %}
<div class="card" style="height:90vh">
    <div class="card-body">
        <div style="font-size:12px;margin-bottom:30px;">
            <a href="{% url 'appAUDITAI:appdetails-process-owner' comp_id app_id %}" style="color:#474b4d"><i
                    class="fa-regular fa-circle-left" style="margin-right:5px;"></i>Back to Users</a>
        </div>

        <span class="fa-regular fa-user" style="font-size: 20px;color:#8bd5f7;margin-right:8px;"></span>
        <p style="font-size:18px; display: inline-block;">{{ selected_user.FIRST_NAME }} {{ selected_user.LAST_NAME}}</p>

        <div class="container-fluid" style="margin-bottom:20px;">
            <div class="row" style="margin-top:10px;">
                <div class="text-align">
                    <button type="button" class="btn btn-light carousel"
                        data-bs-target="#controlcarousel" data-bs-slide-to="0"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-solid fa-link" style="margin-right:5px;"></i>HR Mapping
                    </button>
                    <button type="button" class="btn btn-light carousel"
                        data-bs-target="#controlcarousel" data-bs-slide-to="1"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-solid fa-map" style="margin-right:5px;"></i>Provisioning
                    </button>
                    <button type="button" class="btn btn-light carousel"
                        data-bs-target="#controlcarousel" data-bs-slide-to="2"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-solid fa-map" style="margin-right:5px;"></i>Termination
                    </button>
                    <button type="button" class="btn btn-light carousel"
                        data-bs-target="#controlcarousel" data-bs-slide-to="3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <i class="fa-solid fa-map" style="margin-right:5px;"></i>UAR
                    </button>
                </div>
            </div>

            <div id="controlcarousel" class="carousel slide carousel-fade" data-bs-interval="false">
                <div class="carousel-inner">
                    <!--Password Settings-->
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body">

                                <!-- MAPPING LABEL -->
                                <div  style="text-align:right">
                                    <div class="row">
                                        <a style="font-size: 16px">
                                            {% if mapped_user %}
                                                <span class="badge text-bg-success">MAPPED</span>
                                            {% else %}
                                                <span class="badge text-bg-warning">NOT MAPPED TO HR RECORD</span>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>

                                <div class="card" style="margin-top:10px;">
                                    {% for user in mapped_user %}
                                    <div class="card-body">
                                        <div class="row g-3 align-items-center">
                                            <div class="col-auto">
                                                <label style="font-size:12px; width: 150px;" class="col-form-label">Email
                                                    Address:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="email_address" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.EMAIL_ADDRESS }}" readonly>
                                            </div>
                                        </div>
                                 
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px; width: 150px;" class="col-form-label">Job
                                                    Title:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="job_title" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.JOB_TITLE }}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px; width: 150px;"
                                                    class="col-form-label">Department:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="department" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.DEPARTMENT }}"  readonly>
                                            </div>
                                        </div>
    
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px; width: 150px;"
                                                    class="col-form-label">Manager:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="manager" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.MANAGER }}" readonly>
                                            </div>
                                        </div>
    
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px; width: 150px;" class="col-form-label">Employee
                                                    Type:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="employee_type" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.EMP_TYPE }}" readonly>
                                            </div>
                                        </div>
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px;width: 150px;" class="col-form-label">DATE
                                                    HIRED:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="date_hired" type="text"
                                                    style="font-size:12px;width:300px;" value="{{ user.HIRE_DATE }}"  readonly>
                                            </div>
                                        </div>
                                        <div class="row g-3 align-items-center" style="margin-top:3px;">
                                            <div class="col-auto">
                                                <label style="font-size:12px;width: 150px;" class="col-form-label">TERMINATION
                                                    DATE:</label>
                                            </div>
                                            <div class="col-auto">
                                                <input class="form-control sm" id="date_termed" type="text"
                                                    style="font-size:12px;width:300px;"  value="{{ user.TERMINATION_DATE }}"  readonly>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body">
                                 <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Date Granted:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="date_granted" name="date_granted" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.DATE_GRANTED }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Date Approved:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="date_approved" name="date_approved" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.DATE_APPROVED }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approver 1:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approver1" name="approver1" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.ACCESS_APPROVER_NAME1 }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approver Job Title:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approver1_title" name="approver1_title" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.ACCESS_APPROVER_TITLE1 }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approver 2:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approver2" name="approver2" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.ACCESS_APPROVER_NAME2 }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approver Job Title:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approver1_title2" name="approver1_title2" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.ACCESS_APPROVER_TITLE2 }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approval Type:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approval_type" name="approval_type" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.APPROVAL_TYPE }}"  readonly>
                                        </div>
                                    </div>

                                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                                        <div class="col-auto">
                                            <label style="font-size:12px; width: 150px;"
                                                class="col-form-label">Approval Reference:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input class="form-control sm" id="approval_ref" name="approval_ref" type="text"
                                                style="font-size:12px;width:300px;" value="{{ user.APPROVAL_REFERENCE }}"  readonly>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body">
                                test three
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body">
                                test four
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}