{% extends 'base/base.html' %}

{% load static %}

<!-- Side Nav -->
{% block side_nav_items %}
<a href="{% url 'appAUDITAI:mydashboard' %}" data-toggle="tooltip" title="Home"><span class="fas fa-house-user"></span></a>
<a href="{% url 'appAUDITAI:mydashboard' %}" data-toggle="tooltip" title="Manage Data"><span class="fas fa-users-cog"></span></a>
<a href="" id="my-link" data-toggle="tooltip" title="Audit Projects"><span class="fas fa-project-diagram fa-fw mr-3"></span></a>
<a href="" data-toggle="tooltip" title="Processes"><span class="fas fa-tasks fa-fw mr-3"></span></a>
<a href="{% url 'appAUDITAI:logout-user' %}" data-toggle="tooltip" title="Sign-out"><span class="fas fa-sign-out-alt fa-fw mr-3"></span></a>
{% endblock side_nav_items %}

<!-- Content -->
{% block content %}
    
{% endblock content %}