{% extends 'pages/POLICIES/compliance-policies.html' %}
{% load static %}

{% block additional_content %}

<div class="card">
    <div class="card-body" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);>
        <nav class="navbar bg-body-tertiary" data-bs-theme="light"
        style="margin-bottom: 15px;">
        <div class="container-fluid">
            <div class="row">
                <a href="#" id="passwordHelpLink" style="font-size:16px;text-decoration: none;color:#474b4d">
                    Administrative Accounts Requirements <span class="fa-regular fa-circle-question" style="margin-left: 8px;color:lightblue"></span>
                </a>
            </div>
        </div>
    </nav>
    </div>
</div>

{% endblock additional_content %}