{% extends 'base/base-admin.html' %} 
{% load static %} 
{% block content %}

<div class="card">
    <div class="card-body">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size:14px;">
              <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:mydashboard'%}" style="text-decoration:none;color:#474b4d">Dashboard</i></a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:manage-security'%}" style="text-decoration:none;color:#474b4d">Security</i></a></li>
              <li class="breadcrumb-item active" style="text-decoration:underline;color:#474b4d">Password Policy</a></li>
            </ol>
        </nav>

        <nav class="navbar bg-body-tertiary" data-bs-theme="light" style="margin-bottom: 15px;margin-top:30px;;">
            <div class="container-fluid">
                <div class="row">
                    <a style="font-size:25px;"><span class="fa-solid fa-key"
                            style="margin-right: 10px;color:#474b4d"></span>Password Policy</a>
                </div>
               
            </div>
        </nav>

        <div style="border-bottom:solid;border-color:lightgray" style="font-size:13px">
            <p style="font-size:13px">Configure password length, history, complexity, account lockout requirements </p>
        </div>
        <form id="password_config_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for pw in pw_config %}
            <div class="card" style="margin-top:20px;">
                <div class="card-body" style="overflow-y:auto">
                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Minimum Length
                                :</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control sm" id="length" name="length" type="text"
                                style="font-size:12px;width:150px;" autocomplete="off" value="{{ pw.MIN_LENGTH }}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Password Age (in Days)
                                :</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control sm" id="age" name="age" type="text"
                                style="font-size:12px;width:150px;" autocomplete="off" value="{{ pw.AGE}}" >
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Max Password Remembered/History
                                :</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control sm" id="history" name="history" type="text"
                                style="font-size:12px;width:150px;" autocomplete="off" value="{{ pw.HISTORY}}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Max Login Attempt/Account Lockout:
                                :</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control sm" id="lockout" name="lockout" type="text"
                                style="font-size:12px;width:150px;" autocomplete="off" value="{{ pw.LOCKOUT}}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Lockout Duration (in Minutes):
                                </label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control sm" id="lockout_duration" name="lockout_duration" type="text"
                                style="font-size:12px;width:150px;" autocomplete="off" value="{{ pw.LOCKOUT_DURATION}}">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Require Special Character?
                                </label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" name="req_specialchar" id="req_specialchar" {% if pw.HAS_SPECIALCHAR %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Require Upper Case?
                                </label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="req_uppercase" name="req_uppercase" {% if pw.HAS_UPPER %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Require Lower Case?
                                </label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" name="req_lowercase" id="req_lowercase" {% if pw.HAS_LOWER %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:3px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">Require Numeric?
                                </label>
                        </div>
                        <div class="col-auto">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" name="req_numeric" id="req_numeric" {% if pw.HAS_NUMERIC %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center" style="margin-top:10px;">
                        <div class="col-auto">
                            <label style="font-size:12px; width:250px;"
                                class="col-form-label">
                                </label>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-secondary btn-sm" style="font-size:13px;width:100px;">
                                Save</button>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock content %}