{% extends 'base/base-auditor.html' %} 
{% load static %} 
{% block content %}

<div class="card">
    <div class="card-body">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb" style="font-size:14px;">
              <li class="breadcrumb-item"><i class="fa-solid fa-house"></i></a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:mydashboard'%}" style="text-decoration:none;color:#474b4d">Dashboard</i></a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:client-actions' id %}" style="text-decoration:none;color:#474b4d">{{ selected_company.COMPANY_NAME }}</i></a></li>
              <li class="breadcrumb-item"><a href="{% url 'appAUDITAI:audit-home' id %}" style="text-decoration:none;color:#474b4d">Audit</i></a></li>
              <li class="breadcrumb-item active" style="text-decoration:underline;color:#474b4d">Privileged Accounts</a></li>
            </ol>
        </nav>

        this is the admin account
    </div>
</div>

{% endblock content %}
